.place__header-space{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    margin: 0;
}

@media screen and (min-width: 768px){
    .place__header-space{
        width: 0;
        height: 0;
    }
}