.place__text{
    height: min-content;
    display: grid;
    grid-template-rows: fit-content;
}

@media screen and (min-width: 768px){  
    .place__text{
        grid-area: text;
        grid-template-rows: min-content;
        justify-self: flex-start;
    }
}

.place__text:last-child{
    row-gap: 0;
}
