.intro__text{
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    height: fit-content;
    width: 100%;
    margin: 0;
    margin-bottom: 33px;
}