.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

@media screen and (min-width: 320px){
    .intro{
        margin: 20vw 0 20vw 0;
        width: 90vw;
        max-height: 754px;
    }
}

@media screen and (min-width: 768px){
    .intro{
        margin: 88px 0 88px 0;
        max-width: 94vw;
        max-height: 429px;
    }
}

@media screen and (min-width: 1024px){
    .intro{
        margin: 92px 238px 92px 0;
        max-width: 690px;
    }
}

@media screen and (min-width: 1280px){
    .intro{
        margin: 92px 294px 92px 0;
    }
}