.cover{
    align-self: center;
    display: grid;
    align-items: center;
    justify-items: center;
}

@media screen and (min-width: 320px){
    .cover{
        grid-template-columns: 100vw;
        grid-template-rows: 1fr;
        margin-bottom: 64px;
    }
}

@media screen and (min-width: 768px){
    .cover{
        grid-template-columns: 100vw;
        grid-template-rows: 1fr;
        margin-bottom: 88px;
    }
}

@media screen and (min-width: 1024px){
    .cover{
        grid-template-columns: 100vw;
        grid-template-rows: 1fr;
        margin-bottom: 92px;
    }
}

@media screen and (min-width: 1280px){
    .cover{
        grid-template-columns: 1184px;
        grid-template-rows: 1fr;
    }
}