@media screen and (min-width: 320px){
    .footer{
        display: grid;
        max-width: 186px;
        max-height: 310px;
        grid-template-columns: 100%;
        row-gap: 48px;
        align-self: flex-start;
        margin: 0 0 24px 16px;
    }
}

@media screen and (min-width: 768px){
    .footer{
        margin: 0;
        align-self: center;
        grid-template-columns: 1fr 1fr;
        max-width: 720px;
        min-height: 18px;
    }
}

@media screen and (min-width: 1024px){
    .footer{
        min-width: 928px;
    }
}

@media screen and (min-width: 1280px){
    .footer{
        min-width: 1184px;
    }
}